.example-container {
    width: 100%;
    height: 90.3vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
    border: 1px solid #555;
    flex: 1 1 auto;
  }

  .drawer-css {
    width: 20%;
    background-color:#3F51B5;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 0;
    
  }

  button {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 1.2vw;
    font-weight: bold;
    background-color: transparent;
    color: white;
    z-index: 1;
  }

  button:hover {
    background-color: white;
    color: #9E9E9E;
  }

  mat-list-item {
    margin-top: 10px;
    margin-bottom: 10px;
  }


  .is-clicked-events {
    background: white;
    color: #9E9E9E;
  }

  .is-clicked-users {
    background: white;
    color: #9E9E9E;
  }

  .is-clicked-artists {
    background: white;
    color: #9E9E9E;
  }
  

  
  .school-logo-css {
    margin-bottom: 0%;
    margin-top: 30%;
    margin-left: 30%;
    position: sticky;
  }

  .school-logo-css-teacher {
    margin-bottom: 0%;
    margin-top: 14%;
    margin-left: 30%;
    position: sticky;
  }

  

  mat-drawer {
  overflow: hidden;
  background-color:  #880E4F!important;
 }
