.login-background-css .login-form-css {
    display: flex;
    flex-direction: column;
    background-size: cover;
    text-align: center;
    justify-content: center;
    max-width:100%;
    max-height:100%;
    overflow:auto;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    position: relative;
  }

  .login-background-css {
    /* background-image: url("../../../assets/images/image.jpg"); */
    display: flex;
    flex-direction: column;
    width: 30%;
    background-size: cover;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 80px;
    max-width:100%;
    max-height:100%;
    overflow:auto;
    align-items: center;
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.3); 
    border-radius: 25px;
    position: relative;
  }

  .login-css {
    display: flex;
    flex-direction: column;
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
  }


  body {
    background-image: url("../../../assets/background/ameshweb-01.png");
    background-repeat: no-repeat;
    background-size:     cover;                      
    background-position: center center; 
    /* background-position: center center; */
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: calc(90.3vh);
    position: relative;
  }
 
  h1 {
    color: white;
    position: relative;
  }

  h3 {
      color: white;
      font-family: 'Mountains of Christmas', cursive;
      position: relative;
  }

  .login-button-css {
      background-color: transparent;
      color: white;
      width: 150px;
      border: 3px solid black!important;
      border-color: white!important;
        font-size: 20px;
        position: relative;
        border-radius: 8px!important;
  }

  mat-placeholder {
      color: white;
      position: relative;
  }

  mat-checkbox {
      color: white;
      margin-bottom: 20px;
  }

  ::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color: violet;
  }

  .username-css {
    width : 72%!important;
  }

  mat-spinner {
    position: relative;
    margin-left: 46vw;
    margin-top: -40vh;
    width: 100%;
    height: 100%;
    z-index: 999;
    overflow: visible;
  }

  mat-error {
    margin-top: 2%;
    font-weight: bold!important;
  }
